html,
body {
    background-color: #ffffff;
}


/* animation */
@-webkit-keyframes move1 {
    from {
        top: 120px;
        opacity: 0; /* Google Chrome & Webkit Nightlies */
    }
    to {
        top: 150px;
        opacity: 1; /* Google Chrome & Webkit Nightlies */
        /* Google Chrome & Webkit Nightlies */
    }
}
@-webkit-keyframes move2 {
    from {
        bottom: 46px;
        opacity: 0; /* Google Chrome & Webkit Nightlies */
    }
    to {
        bottom: 16px;
        opacity: 1; /* Google Chrome & Webkit Nightlies */
        /* Google Chrome & Webkit Nightlies */
    }
}
#image_container {
    animation-name: move1;
    animation-duration: 1s;
}

#button-wrapper-record {
    animation-name: move2;
    animation-duration: 1s;
}









.navbar-custom {
    background-color: #F28E9C;
}

#iat_result_container {
    position: absolute;
    top: 220px;
    text-align: center;
    width: 100%;
}

#image_container {
    position: absolute;
    top: 150px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    text-align: center;
    width: 100%;
}

#subtitle {
    color: #525252;
    font-size: 25px;
    margin-bottom: 15px;
}

#nav-text {
    width: 100%;
    text-align: center;
    widows: 100%;
    padding: 10px;
    left: 0;
    position: absolute;
    color: white;
    font-size: 20px;
}

#button-wrapper {
    width: 100%;
    height: 30%;
    bottom: 0px;
    text-align: center;
    position: absolute;
    display: none;
}

#button-wrapper-record {
    width: 100%;
    height: 30%;
    bottom: 16px;
    text-align: center;
    position: absolute;
}

#wanna-speak {
    display: inline-block;
}

#wanna-listen {
    display: inline-block;
    margin-top: 20px;
}
